Source: netbiff
Section: mail
Priority: optional
Maintainer: Jeff King <peff@peff.net>

Package: netbiff-text
Architecture: any
Depends: ${shlibs:Depends}
Recommends: netbiffd-imap | netbiffd-file
Conflicts: netbiff-gtk
Replaces: netbiff-gtk
Description: Text-based mail notification utility
 Netbiff is an enhanced version of the traditional biff, featuring
 multiple connections, user-defined biff/reset actions, and backend
 support for many mail clients.
 .
 This package contains the text-based netbiff client.

Package: netbiff-gtk
Architecture: any
Depends: ${shlibs:Depends}
Recommends: netbiffd-imap | netbiffd-file
Conflicts: netbiff-text
Replaces: netbiff-text
Description: GTK-based mail notification utility
 Netbiff is an enhanced version of the traditional biff, featuring
 multiple connections, user-defined biff/reset actions, and backend
 support for many mail clients.
 .
 This package contains the GTK-based netbiff client.

Package: netbiffd-imap
Architecture: any
Depends: ${shlibs:Depends}
Recommends: netbiff-gtk | netbiff-text
Description: IMAP backend for netbiff
 Netbiff is an enhanced version of the traditional biff, featuring
 multiple connections, user-defined biff/reset actions, and backend
 support for many mail clients.
 .
 This backend supports connection to IMAP servers for the retrieval
 of mail information.

Package: netbiffd-imap-ssl
Architecture: any
Depends: ${shlibs:Depends}
Recommends: netbiff-gtk | netbiff-text
Conflicts: netbiffd-imap
Provides: netbiffd-imap
Description: IMAP backend for netbiff
 Netbiff is an enhanced version of the traditional biff, featuring
 multiple connections, user-defined biff/reset actions, and backend
 support for many mail clients.
 .
 This backend supports connection to IMAP servers for the retrieval
 of mail information.  This version supports SSL/TLS for connecting to
 the remote host.

Package: netbiffd-file
Architecture: any
Depends: ${shlibs:Depends}
Recommends: netbiff-gtk | netbiff-text
Description: Filesystem backend for netbiff
 Netbiff is an enhanced version of the traditional biff, featuring
 multiple connections, user-defined biff/reset actions, and backend
 support for many mail clients.
 .
 This backend supports the examination of data through file system
 attributes to determine updates.

